name: sync-notion-to-github
on:
  schedule:
    - cron: '0 0 * * *'  # 每日UTC 0点自动同步
  workflow_dispatch: # 支持手动触发同步
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: notion-sync
        uses: YouXam/Notion-GitHub-Sync@v2
        with:
          notion_token: ${{ secrets.NOTION_TOKEN }}
          subdir: true 